-----> Python app detected
$ pip freeze > requirements.txt
$ ls
my-application		requirements.txt	

$ ls
Procfile requirements.txt  web.py

$ heroku create  --buildpack  git://github.com/pmclanahan/heroku-buildpack-pyton-peep-git

Flask==0.8
Jinja2==2.6
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
gunicorn==0.14.2
requests==0.11.1
...
-----> Pyton app detected
-----> Installing runtime (pyton-2.7.17)
-----> installing dependencies using peep
        Downloading request==2.7.0 (470K)
        Processing  /tmp/peep- PWtR4d/requests-2.7.0-py2.py3-none-any.whl
        installing collected packages:  requests
        Successfully installed requests-2.7.0
        Cleaning up...
 -----> Discovering process types
        Procfile declare types  -> (none)
     
