-----> Python app detected
$ pip freeze > requirements.txt
$ pip install -r requirements.txt
Flask==0.8
Jinja2==2.6
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
gunicorn==0.14.2
requests==0.11.1
$ pip hash ./pip_downloads/SomePackage-2.2.tar.gz
    ./pip_downloads/SomePackage-2.2.tar.gz:
    --hash=sha256:93e62e05c7ad3da1a233def6731e8285156701e3419a5fe279017c429ec67ce0
$ ls
my-application		requirements.txt	

$ ls
Procfile requirements.txt  web.py

$ heroku create  --buildpack  git://github.com/pmclanahan/heroku-buildpack-pyton-peep-git

...
-----> Pyton app detected
-----> Installing runtime (pyton-2.7.17)
-----> installing dependencies using peep
     $ pip -b -u install ./downloads/SomePackage-2.2.tar.gz
    Collecting SomePackage
     $ pip  -b -u   Downloading SomePackage-2.2.tar.gz
      $ pip -b -u   Saved ./pip_downloads/SomePackage-2.2.tar.gz
  
    Successfully downloaded SomePackage
       Downloading request==2.7.0 (470K)
        Processing  /tmp/peep- PWtR4d/requests-2.7.0-py2.py3-none-any.whl
        installing collected packages:  requests
        Successfully installed requests-2.7.0
        Cleaning up...
 -----> Discovering process types
        Procfile declare types  -> (none)
     
